In [22]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
import sys

In [24]:
sys.path.append('../../')

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('../datasets/titanic.csv')

In [27]:
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [28]:
from NERD.sklearn_extras import MultiLabelEncoder, ColumnsSelector
from sklearn.pipeline import Pipeline

In [29]:
good_cols = df.columns[1:]

In [30]:
feat_pipeline = Pipeline([
    ('cols', ColumnsSelector(good_cols)),
    ('feat', MultiLabelEncoder())
])

In [31]:
unique_tags = [
    ('ALIVE', 'Survived'),
    ('Dead', 'Dead')
]

In [59]:
from NERD.tabular import DataFrameClassifier

In [60]:
ts = DataFrameClassifier(df, unique_tags, featurization_pipeline=feat_pipeline, usermanagement=True)

True
./nerdusers.json
['/load_example', '/update_model', '/save_example', '/save_data', '/', '/static/<path:filename>']

In [64]:
ts.start_server(port=5052)

 * Serving Flask app "NERD.tabular" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
endpoint: base_app, url: http://localhost:5052/, path: /
endpoint: login, url: http://localhost:5052/login, path: /login
endpoint: None, url: http://localhost:5052/favicon.ico, path: /favicon.ico
endpoint: register, url: http://localhost:5052/register, path: /register
{'username': 'turbo@gmail.com', 'password': 'asdf'}
endpoint: base_app, url: http://localhost:5052/, path: /
endpoint: None, url: http://localhost:5052/favicon.ico, path: /favicon.ico
endpoint: load_example, url: http://localhost:5052/load_example, path: /load_example
endpoint: save_example, url: http://localhost:5052/save_example, path: /save_example
['Dead']
endpoint: load_example, url: http://localhost:5052/load_example, path: /load_example
endpoint: save_example, url: http://localhost:5052/save_example, path: /save_example
['ALIVE']
endpoint: load_example, url: http://localhost:5052/load_example, path: /load_example
endpoint: save_example, url: http://localhost:5052/save_example, path: /save_example
['Dead']
endpoint: update_model, url: http://localhost:5052/update_model, path: /update_model
endpoint: load_example, url: http://localhost:5052/load_example, path: /load_example
endpoint: save_example, url: http://localhost:5052/save_example, path: /save_example
['Dead']
endpoint: load_example, url: http://localhost:5052/load_example, path: /load_example
endpoint: save_example, url: http://localhost:5052/save_example, path: /save_example
['Dead']
endpoint: update_model, url: http://localhost:5052/update_model, path: /update_model
endpoint: load_example, url: http://localhost:5052/load_example, path: /load_example
endpoint: save_example, url: http://localhost:5052/save_example, path: /save_example
['Dead']
endpoint: base_app, url: http://localhost:5052/, path: /
endpoint: load_example, url: http://localhost:5052/load_example, path: /load_example
endpoint: save_example, url: http://localhost:5052/save_example, path: /save_example
['Dead']
endpoint: load_example, url: http://localhost:5052/load_example, path: /load_example
endpoint: load_example, url: http://localhost:5052/load_example, path: /load_example
endpoint: save_example, url: http://localhost:5052/save_example, path: /save_example
['Dead']
endpoint: save_example, url: http://localhost:5052/save_example, path: /save_example
['Dead']
endpoint: update_model, url: http://localhost:5052/update_model, path: /update_model

In [65]:
ts.um.users

{'deepak@draup.com': {'password': 'asdf'},
 'turbo@gmail.com': {'password': 'asdf'}}

In [66]:
df[df['class'].notna()]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,class,NERD_USER
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,Dead,turbo@gmail.com
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,ALIVE,deepak@draup.com
14,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542,Dead,deepak@draup.com
19,1,3,Mrs. Fatima Masselmani,female,22.0,0,0,7.2250,ALIVE,deepak@draup.com
22,1,3,Miss. Anna McGowan,female,15.0,0,0,8.0292,ALIVE,deepak@draup.com
28,1,3,Miss. Ellen O'Dwyer,female,24.0,0,0,7.8792,ALIVE,deepak@draup.com
32,1,3,Miss. Mary Agatha Glynn,female,18.0,0,0,7.7500,ALIVE,turbo@gmail.com
48,0,3,Mrs. Josef (Josefine Franchi) Arnold-Franchi,female,18.0,1,0,17.8000,Dead,deepak@draup.com
68,0,3,Mr. Vincenz Kink,male,26.0,2,0,8.6625,Dead,turbo@gmail.com
110,0,3,Miss. Hileni Zabour,female,14.5,1,0,14.4542,Dead,turbo@gmail.com
131,0,3,Mrs. Alexander A (Grace Charity Laury) Robins,female,47.0,1,0,14.5000,Dead,turbo@gmail.com
144,0,2,Mr. Joseph Charles Nicholls,male,19.0,1,1,36.7500,Dead,deepak@draup.com
328,1,3,Miss. Agnes McCoy,female,28.0,2,0,23.2500,ALIVE,NaN
623,0,2,Rev. Charles Leonard Kirkland,male,57.0,0,0,12.3500,Dead,deepak@draup.com
658,0,3,Mr. Mohamed Badt,male,40.0,0,0,7.2250,Dead,deepak@draup.com
659,0,1,Mr. Edward Pomeroy Colley,male,47.0,0,0,25.5875,Dead,deepak@draup.com
699,0,3,Miss. Saiide Barbara,female,18.0,0,1,14.4542,Dead,turbo@gmail.com
724,0,2,Mr. Kurt Arnold Gottfrid Bryhl,male,25.0,1,0,26.0000,Dead,deepak@draup.com
774,0,3,Mr. Thomas J Kilgannon,male,22.0,0,0,7.7375,Dead,deepak@draup.com
872,0,3,Mr. Alfred Ossian Gustafsson,male,20.0,0,0,9.8458,Dead,turbo@gmail.com

In [ ]:
ts.save_labelled_examples('DF_Classification_Data/titanic_labelled.json')

In [89]:
pd.read_json('DF_Classification_Data/titanic_labelled.json', orient='records', lines=True)

     Survived  Pclass                                              Name     Sex    Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare  class
0           0       3                            Mr. Owen Harris Braund    male  22.00                        1                        0   7.2500   Dead
1           1       3                             Miss. Laina Heikkinen  female  26.00                        0                        0   7.9250  ALIVE
2           1       3  Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson  female  27.00                        0                        2  11.1333  ALIVE
3           1       3                    Miss. Marguerite Rut Sandstrom  female   4.00                        1                        1  16.7000  ALIVE
4           0       3                               Master. Eugene Rice    male   2.00                        4                        1  29.1250   Dead
..        ...     ...                                               ...     ...    ...                      ...                      ...      ...    ...
153         1       2                              Master. Andre Mallet    male   1.00                        0                        2  37.0042  ALIVE
154         1       2                    Master. George Sibley Richards    male   0.83                        1                        1  18.7500  ALIVE
155         0       3                         Mr. Peter L Lemberopolous    male  34.50                        0                        0   6.4375   Dead
156         0       3                                Mr. Jeso Culumovic    male  17.00                        0                        0   8.6625   Dead
157         0       3                            Miss. Nourelain Boulos  female   9.00                        1                        1  15.2458   Dead

[158 rows x 9 columns]